body {
    background-image: url("../images/cityBackGround.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

.header {
    margin-top: 15px;
    background-color: #F8F9FA;
}